<body>
  <div class="back-button2">
    <a href="/" class="back">< Back</a>
  </div>

  <div class="logo3">
    <img src="images/LogoSVG.svg">
  </div>
  <p id="title1"><a id="petal"><font color=#FFC857>P</font><font color=#E9724C>E</font><font color=#C5283D>T</font><font color=#00A8E8>A</font><font color=#7BC950>L</font></a>PALET</p>

  <div class="box" id="box1">
    <div class="circle"><i class="fas fa-envelope" id="envelope"></i></div>
    <h1 id="topic">Emails</h1>
    <p id="head">Support Requests</p>
    <p>support@petalpalet.com</p>

    <p id="head">General Information</p>
    <p>contact@petalpalet.com</p>
  </div>

  <div class="box" id="box2">
    <div class="circle" id="circle2"><i class="fas fa-comment" id="message"></i></div>
    <h1>Social Media</h1>
    <p id="head">Like us on facebook</p>
    <p>facebook.com/petalpalet</p>

    <p id="head">Follow us on twitter</p>
    <p>twitter.com/petalpalet</p>
  </div>

</body>
